@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            @*<hgroup class="title">
                    <h2>@ViewBag.Message</h2>
                </hgroup>*@
            @*<p>
                    To learn more about ASP.NET MVC visit
                    <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                    The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                    If you have any questions about ASP.NET MVC visit
                    <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
                </p>*@
        </div>
    </section>
}
<h3>Products List:</h3>
<div style="width:960px;">
    @{
        Random rand = new Random(100);
        for (int i = 0; i < 12; i++)
        {
            
            int item=rand.Next();
    <div class="image_box"><span style="width:145px;"><a href="#">@item</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
            
        }
    }
    @*<div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>
    <div class="image_box"><span style="width:145px;"><a href="#">123</a></span><img src="../Images/extra.png" height="90" width="145" /></div>*@
    <div class="cleaner"></div>
</div>
<br />

<h3 style="color:#E47911;margin-top:10px;">We suggest the following:</h3>
@{
    Html.RenderAction("Recommend", "Home");
}

@*<div>
    <div class="image_box"><a href="#">111</a></div>
    <div class="image_box"><a href="#" class="bc2">132</a></div>
    <div class="image_box"><a href="#" class="bc3">123</a></div>
    <div class="image_box"><a href="#" class="bc4">123</a></div>
    <div class="image_box"><a href="#" class="bc5">123</a></div>
    <div class="image_box"><a href="#" class="bc6">5454</a></div>
    <div class="image_box"><a href="#" class="bc7">5454</a></div>
    <div class="image_box"><a href="#" class="bc8">6787</a></div>
    <div class="image_box"><a href="#" class="bc9">dgf</a></div>
    <div class="image_box"><a href="#" class="bc10">66</a></div>
    <div class="image_box"><a href="#" class="bc11">77</a></div>
    <div class="image_box"><a href="#" class="bc12">88</a></div>
    <div class="cleaner"></div>
</div>*@
<ol class="round">
    @*<li class="one">
            <h5>Getting Started</h5>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and that gives you full control over markup
            for enjoyable, agile development. ASP.NET MVC includes many features that enable
            fast, TDD-friendly development for creating sophisticated applications that use
            the latest web standards.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
        </li>

        <li class="two">
            <h5>Add NuGet packages and jump-start your coding</h5>
            NuGet makes it easy to install and update free libraries and tools.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
        </li>

        <li class="three">
            <h5>Find Web Hosting</h5>
            You can easily find a web hosting company that offers the right mix of features
            and price for your applications.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
        </li>*@
</ol>
